# Ignore all data files in the directories with data such as csvs, etc
content
data
classification/results

# Ignore all folders with extracted features
extract_feats/processed/**

# Ignore .env file
.env

# Ignore IDE files
.idea
.vscode
.ipynb_checkpoints
__pycache__
